# Core Automation
playwright

# Web Server (FastAPI & Uvicorn)
fastapi
uvicorn[standard]
jinja2
python-multipart

# Data Handling & Validation
pydantic
pydantic[email]

# Configuration Management
ini2py

# Asynchronous Utilities (for Windows compatibility)
nest-asyncio

openai
pretty_loguru
matplotlib